<launch>

  <group ns="lab_two">
    <node pkg="lab_two_key_pkg" name="Keystroke" type="keystroke_pub.py" output="screen" launch-prefix="xterm -e"/>
    <node pkg="lab_two_random_pkg" name="Random" type="random_pub.py"/>
    <node pkg="lab_two_decider_pkg" name="Decider" type="decider_pub.py"/>
  </group>

</launch>
